a.navbar-brand {
    /* white-space: normal; */
    /* text-align: center; */
    /* word-break: break-all; */
    /*background-color: #878f99;*/
    color: white;
  }
  
  html {
    font-size: 12px;
    /*background-color: #878f99;*/
  }
  @media (min-width: 768px) {
    html {
      font-size: 12px;
      /*background: #878f99;*/
    }
  }
  
  /* .box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  } */
  
  .container {
    /*background-color: #878f99;*/
    color: #ddd;
  }
  

.logo{
    color: #fff;
    /* font-weight: bold; */
    /* font-size: 1rem; */
    /* background-color: blue; */
}

.logo-left{ 
    padding: 3px 6px 3px 3px;
    border-radius: 24px;
}

.logo-right{
    background-color:gold;
    padding: 5px 3px 3px 3px;
    /* margin-left: -5px; */
    border-radius: .5rem;
    color: navy;
}

.logo-text{
    color: #c4c4c4;
    /* font-weight: bold; */
    font-size: .8em;
}